<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingna.shopapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 自动对焦功能 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 调用前置摄像头功能 -->
    <uses-feature android:name="android.hardware.camera.front" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.GoodsDetailsActivity" />
        <activity android:name=".pages.LoginActivity" />
        <activity android:name=".pages.SMSLoginActivity" />
        <activity android:name=".pages.SMSLoginYzmActivity" />
        <activity android:name=".pages.RegisterActivity" />

        <receiver android:name=".broadcastreceiver.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".pages.RegisterYzmActivity" />
        <activity android:name=".pages.RegisterSetPwdActivity" />
        <activity android:name=".pages.ForgotPwd1Activity" />
        <activity android:name=".pages.ForgotPwd2Activity" />
        <activity android:name=".pages.ForgotPwd3Activity" />
        <activity android:name=".pages.PersonInformationActivity" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Android 7.0 文件共享配置，必须配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".pages.AddressActivity" />
        <activity android:name=".pages.EditReceiveActivity" />
        <activity android:name=".pages.InsertReceiveActivity" />
        <activity android:name=".pages.EditPwdActivity" />
        <activity android:name=".pages.EditPwd2Activity" />
        <activity android:name=".pages.EditPhoneNum1Activity" />
        <activity android:name=".pages.EditPhoneNum2Activity" />
        <activity android:name=".pages.GoodsListActivity" />
        <activity android:name=".pages.EditPayActivity" />
        <activity android:name=".pages.SetPayPwdActivity"></activity>
    </application>

</manifest>